body {
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
    font-weight: 400;
	line-height: 1.4;
    color: #FFFFFF;
    background: #000000;
	min-width: 320px;
    margin: 0;
	overflow-x: hidden;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #252525;
}

.wrapper {
    padding: 0 20px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 17px;
    &__logo {
        grid-column: 1/3;
        display: flex;
        flex-wrap: nowrap;
        &_number {
            width: 15%;
            max-width: 106px;
        }
        &_icon {
            width: 20%;
            max-width: 127px;
            margin: 0 auto;
            padding-right: 45px;
        }
    }
    &__food {
        width: 196px;
    }
    &__blender {
        grid-row: 2/4;
        width: 75px;
        margin: 0 auto;
    }
    &__title {
        span {
            text-transform: uppercase;
            font-size: 12px;
        }
        h3 {
            font-size: 17px;
            font-weight: bold;
            line-height: 32px;
            margin-top: 10px;
        }
    }
    &__about {
        grid-row: 4/5;
        grid-column: 1/3;
        .technology {
            display: flex;
            flex-wrap: nowrap;
            img {
                width: 40px;
                margin-right: 20px;
            }
        }
    }
}

.about {
    &__block {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 50px;
        margin-bottom: 50px;
        img {
            width: 124px;
        }
        &_text {
            .about-text__benefits {
                text-transform: uppercase;
                font-size: 12px;
            }
            .about-text__block_mobile {
                span {
                    font-size: 17px;
                    font-weight: bold;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                .text-small {
                    font-size: 9px;
                    font-weight: normal;
                    line-height: 11px;
                }
            }
            .about-text__block_pc {
                display: none;
            }
        }
    }
    .reserve {
        flex-direction: row-reverse;
    }
}
.nozzles {
    margin-bottom: 70px;
    &__title {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &_item {
            align-self: end;
            text-align: center;
            font-weight: 500;
            img {
                margin: 0 auto;
            }
            .nozzles-img__pc {
                display: none;
            }
        }
    }
}
.whisk {
    background: #FFFFFF;
    color: #000000;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        &_image1 {
            position: absolute;
            top: -30px;
            left: 0;
            width: calc(144px + 350 * ((100vw - 320px) / 910));
        }
        &_image2 {
            width: calc(143px + 350 * ((100vw - 320px) / 910));
        }
        &_content {
            // padding: 0 20px;
            span {
                text-transform: uppercase;
                font-size: 11px;
            }
            .whisk-text {
                font-size: 17px;
                font-weight: bold;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            .whisk-benefits {
                display: flex;
                flex-wrap: nowrap;
                img {
                    width: 40px;
                }
            }
        }
        &_indent {
            margin-left: 20px;
        }
        .whisk__block {
            margin-top: 28px;
            margin-right: 20px;
            margin-bottom: calc(60px + 180 * ((100vw - 320px) / 910));
            margin-left: calc(140px + 340 * ((100vw - 320px) / 910));
        }
    }
}

@media (min-width: 1024px) {
    body {
        padding: 70px 0 0 0;
    }
    .wrapper {
        max-width: 1400px;
        padding: 0 40px;
        margin: 0 auto;
    }
    .main {
        grid-template-columns: (3, 1fr);
        &__logo {
            grid-column: 1;
            grid-row: 1;
            flex-direction: row-reverse;
            max-height: 110px;
            &_number {
                width: 100%;
                margin-right: 40px;
            }
            &_icon {
                width: 100%;
                margin: 0 auto 0 0;
            }
        }
        &__food {
            width: 514px;
            grid-column: 1;
            grid-row: 2;
        }
        &__blender {
            grid-row: 1/3;
            grid-column: 2;
            width: 127px;
            margin: 0 70px 0 0;
        }
        &__title {
            grid-row: 1/3;
            grid-column: 3;
            span {
                font-size: 23px;
            }
            h3 {
                font-size: 52px;
                line-height: 72px;
                margin-top: 27px;
            }
        }
        &__about {
            grid-row: 2/3;
            grid-column: 3;
            align-self: center;
            .technology {
                font-size: 25px;
                img {
                    width: 90px;
                }
            }
        }
    }
    .about {
        display: flex;
        margin-bottom: 50px;
        &__block {
            display: block;
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 427px;
                margin: 0 auto;
            }
            &_text {
                .about-text__benefits {
                    font-size: 23px;
                }
                .about-text__block_mobile {
                    display: none;
                }
                .about-text__block_pc {
                    display: block;
                    span {
                        font-size: 36px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                    p {
                        font-size: 25px;
                        font-weight: normal;
                        margin-top: 16px;
                        margin-bottom: 10px;
                    }
                    .text-small {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 20px;
                    }
                }
            }
        }
        .reserve {
            flex-direction: row;
        }
    }
    .nozzles {
        background-image: url(../img/nozzles/background.png);
        background-position: 100%!important;
        padding-top: 80px;
        margin-bottom: 250px;
        &__title {
            font-size: 64px;
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
        }
        &__wrapper {
            grid-template-columns: repeat(4, 1fr);
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
            &_item {
                font-size: 25px;
                .nozzles-img__mobile {
                    display: none;
                }
                .nozzles-img__pc {
                    display: block;
                }
            }
        }
    }
    .whisk {
        &__wrapper {
            max-width: 1400px;
            padding: 0 40px;
            margin: 0 auto;
            &_image1 {
                top: -180px;
                left: 0;
                width: 658px;
            }
            &_image2 {
                width: 574px;
            }
            &_content {
                span {
                    font-size: 23px;
                }
                .whisk-text {
                    font-size: 36px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                .whisk-benefits {
                    font-size: 25px;
                    img {
                        width: 90px;
                    }
                }
            }
            .whisk__block {
                margin: 110px 20px 250px 650px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .main {
        &__food {
            width: calc(280px + 160 * ((100vw - 320px) / 910));
        }
        &__blender {
            width: calc(70px + 40 * ((100vw - 320px) / 910));
            margin: 0 30px 0 0;
        }
        &__title {
            span {
                font-size: 18px;
            }
            h3 {
                font-size: 38px;
                line-height: 58px;
                margin-top: 20px;
            }
        }
        &__about {
            .technology {
                font-size: 18px;
                img {
                    width: 70px;
                    margin-right: 20px;
                }
            }
        }
    }
    .about {
        &__block {
            img {
                width: calc(200px + 110 * ((100vw - 320px) / 910));
            }
            
        }
    }
    .nozzles {
        &__title {
            font-size: 48px;
        }
        &__wrapper {
            &_item {
                img {
                    width: calc(150px + 80 * ((100vw - 320px) / 910));
                }
            }
        }
    }
}